@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>

    <h1>The Bookstore</h1>

    @foreach (Book b in Model)
    {
        <h3>@b.Title</h3>

        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classification/Category: @b.Classification / @b.Category</li>
            <li># of Pages: @b.PageCount</li>
            <li>Price: @b.Price</li>
        </ul>
    }

    <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a>
    <a asp-controller="Home" asp-action="Index" asp-route-pageNum="2">2</a>
    <a asp-controller="Home" asp-action="Index" asp-route-pageNum="3">3</a>